@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FuzzBrainLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <!-- Card -->
            <div class="card card-cascade">
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="~/Images/ReactLogo.png" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong>Would you pass React JS tect interview.?</strong></h4>
                    <h6 class="font-weight-bold indigo-text py-2">ReactJS and Redux</h6>
                    <p class="card-text">
                        This React Js Test contains around 10 questions of multiple choice with 4 options.
                        You have to select the right answer to a question.
                    </p>
                    <button type="button" class="btn btn-dark" onClick='redirectOnClick(1)'>Accept</button>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-sm">
            <!-- Card -->
            <div class="card card-cascade">
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="~/Images/finalrps-classypage.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong>Rock Paper Scissors</strong></h4>
                    <h6 class="font-weight-bold indigo-text py-2">Code Challenge - Submit solutions in Java, C++ and other popular languages</h6>
                    <p class="card-text">
                        The RPS world championship is here. Here two Players A and B play the games. You need to determine who wins.
                    </p>
                    <button type="button" class="btn btn-dark" onClick='redirectOnClick(2)'>Accept</button>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-sm">
            <!-- Card -->
            <div class="card card-cascade">
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="~/Images/DistinctElements.png" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong>Find unique element</strong></h4>
                    <h6 class="font-weight-bold indigo-text py-2">Code Challenge - Submit solutions in Java, C++ and other popular languages</h6>
                    <p class="card-text">
                        Given an array which contains all elements occurring k times, but one occurs only once. Find that unique element.
                    </p>
                    <button type="button" class="btn btn-dark" onClick='redirectOnClick(2)'>Accept</button>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <!-- Card -->
            <div class="card card-cascade">
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="~/Images/RepetitiveAddition.png" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong>Repetitive Addition Of Digits</strong></h4>
                    <h6 class="font-weight-bold indigo-text py-2">Code Challenge - Submit solutions in Java, C++ and other popular languages</h6>
                    <p class="card-text">
                        Given a non-negative integer num, repeatedly add all its digits until the result has only one digit.
                    </p>
                    <button type="button" class="btn btn-dark" onClick='redirectOnClick(2)'>Accept</button>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-sm">
            <!-- Card -->
            <div class="card card-cascade">
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="~/Images/firstcomefirstserve.png" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong>First Come First Serve</strong></h4>
                    <h6 class="font-weight-bold indigo-text py-2">Code Challenge - Submit solutions in Java, C++ and other popular languages</h6>
                    <p class="card-text">
                        CodeMart is an online shopping platform and it is distributing gift vouchers to its esteemed users. 
                        The voucher can be redeemed by providing a fixed amount of shopping credits.Each credit is sent by a user one by one.
                    </p>
                    <button type="button" class="btn btn-dark" onClick='redirectOnClick(2)'>Accept</button>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-sm">
            <!-- Card -->
            <div class="card card-cascade">
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="~/Images/vocab-10256-counting.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong>Digit Count</strong></h4>
                    <h6 class="font-weight-bold indigo-text py-2">Code Challenge - Submit solutions in Java, C++ and other popular languages</h6>
                    <p class="card-text">
                        Find out the count s of a digit x between the given range of numbers between n1 to n2?
                    </p>
                    <button type="button" class="btn btn-dark" onClick='redirectOnClick(1)'>Accept</button>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>
</div>

<script>
function redirectOnClick(id){
    document.location ='/Challenges/GetChallenge/'+ id;
}
</script>